<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrador.superagentecomercio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/banco_comercio_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/banco_comercio_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".superagente.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".superagente.IngresoInformacionComercio" />
        <activity android:name=".superagente.AfiliacionComercio" />
        <activity android:name=".superagente.IngresoCuentasComercio" />
        <activity android:name=".superagente.RegistroComercios" />
        <activity android:name=".superagente.Login" />
        <activity android:name=".superagente.VentanaErrores" />
        <activity android:name=".superagente.MenuCliente" />
        <activity android:name=".superagente.TerminosCondiciones" />
        <activity android:name=".superagente.OlvidoClaveComercio" />
        <activity android:name=".superagente.CambioClaveAccesoExitosa" />
        <activity android:name=".superagente.CambioClaveAcceso" />
        <activity android:name=".superagente.ListadoAnulacionesComercio" />
        <activity android:name=".superagente.DetalleConsumo" />
        <activity android:name=".superagente.ListarOperario" />
        <activity android:name=".superagente.AgregarOperario" />
        <activity android:name=".superagente.EditarOperario" />
        <activity android:name=".superagente.DetalleOperario" />
        <activity android:name=".superagente.ReporteMovimientos" />
        <activity android:name=".superagente.VoucherConsumos" />
        <activity android:name=".superagente.AgregarOperario2" />
        <activity android:name=".superagente.EditarOperario2" />
        <activity android:name=".superagente.LoginNumeroComercio" />
        <activity android:name=".superagente.LoginPasswordComercio" />
        <activity android:name=".superagente.IngresoTarjetaCliente" />
        <activity android:name=".superagente.VoucherPagoConsumoPin" />
        <activity android:name=".superagente.SeleccionServicioPagar" />
        <activity android:name=".superagente.SeleccionRecibosPagar" />
        <activity android:name=".superagente.MontoPagoPinPagoServicios" />
        <activity android:name=".superagente.ConformidadPagoServicios" />
        <activity android:name=".superagente.VoucherPagoServicio" />
        <activity android:name=".superagente.VoucherPagoConsumoFirma" />
        <activity android:name=".superagente.CaptureSignature"></activity>
    </application>

</manifest>